body
{
    background-color: white;
}

h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: rgb(45, 38, 38);
}

p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgb(43, 42, 42);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

a:link {
    color: rgb(17, 0, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(239, 94, 118);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  
 